*{
   font-family: 'Poppins', sans-serif;
}
.banner{
   background-image: url(\images.jpg);
   padding: 250px 0;
   background-size: cover;
   background-repeat: no-repeat;
}   
.skills-padding{
   padding: 80px 0;
}
